<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title> @ViewBag.Title </title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/lib/bootstrap/dist/css/bootstrap-reboot.min.css" rel="stylesheet" />
    <link href="/lib/bootstrap/dist/css/bootstrap-grid.min.css" rel="stylesheet" />

    <link href="~/css/site.css" rel="stylesheet" />

</head>
<body>
    <ul>
        <li><a href="#">Posts</a></li>
    </ul>

    @RenderBody()
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js"></script>
</body>

</html>